body{
	  background-color: #e4e5e6;
	  background-image: -webkit-linear-gradient(65deg, #a3a3a3 50%, #bebebe 50%);
	  font-family: Roboto;
}

main{
	padding: 20px 10px;
}

a{
	cursor: pointer;
	text-decoration: none !important;
}

.list-group-item:hover{
	background: #129841;
	color: #fdfdfd;
}
.list-group-item{
	color: #292929;
	font-weight: 900;
    font-size: 12px;
}

#pre-load-background {
    position: fixed;
    width: 100%;
    height: 100%;
    /*margin-right: 20%;*/
    z-index: 9999;
    background: url("../img/loadinganimation.gif") center no-repeat #fff;
    top:0%;
    left:0%;
}

.card-header .card-actions{
	position: absolute;
    top: 5px;
    right: 10px;
    background: #4c6074;
    padding: 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 1em;
    font-weight: 900;
}
.app-body .main{
	padding: 0px 10px;
}
.app-header{
	background-color: #88878788;
	color: #fff;
	height: 45px;
}

.app-header .navbar-brand{
	height: 45px;
}

.app-body{
	margin-top: 45px;
}

.sidebar{
	background :#c30f0f;
	/*background-image: url(../img/diysidebar.png);*/
}

.sidebar .nav-link{
	color:  #e4e5e6;
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 0.8em;
}

.sidebar .nav-link:hover{
	background: #c43b3b;
}


.sidebar .nav-link .nav-icon{
	font-size: 1rem;
	
}

.sidebar .nav-link.active .nav-icon{
	font-size: 1.2rem;
	color: #fff;
}

.sidebar .nav-link.active{
	background: #ff3c3cb8;
	font-weight: 700;
}

.sidebar-fixed .app-header + .app-body .sidebar{
	height: 85% !important;
	margin-top: 20px;
	border-top-right-radius : 15px;
	border-bottom-right-radius : 15px;
}

.nav-dropdown-items > .nav-item, .nav-dropdown-items > .nav-item > .nav-icon{
	font-size: 0.72em;
}
.sidebar .nav-dropdown-items .nav-link.active .nav-icon{
	font-size: 2.2em;
}

.sidebar .sidebar-minimizer{
	border-bottom-right-radius : 15px;
}

.sidebar-minimized .sidebar .sidebar-minimizer{
	position: relative;
	border-bottom-right-radius : 15px;
}

.text-transparant{
		color: #ffffff30;
	}
.text-transparant-dark{
		color: #00000020;
	}

.no-padding{
	padding: 0px !important;
}

.no-margin{
	margin:0px;
}

.card{
	/*background-color: #ffffff92;*/
	background-color: #a3a3a3dd;
}

.fw-900{
	font-weight: 900 !important;
}

.fw-800{
	font-weight: 800 !important;
}

.fw-700{
	font-weight: 700 !important;
}

.bg-darkness{
	background-color: #00000093;
}

.bg-navy{
	background: #010440;
	color: #eee;
}
.bg-primary{
	background: #44aff2;
	color: #eee;
}

.text-primary{
	color: #44aff2;
}

.bg-info{
	background: #7eddf2;
	color: #000;
}

.bg-green{
	background: #2fbaa0;
	color: #eee;
}

.bg-cream{
	background: #f6e28a;
	color: #000;
}

.bg-red{
	background: #ef4730;
	color: #eee;
}

.card.bg-darkness{
	border-color: #7a2323;
}

.text-muted{
	color: #948c8c !important;
}

.badge-strategic{
	color: #ffba00 !important;
	text-transform: uppercase;
}

.btn-outline-secondary{
	color: #696060;
}

.btn-xm{
	width: 20px !important;
    height: 20px !important;
    padding: 0px !important;
}

.btn-addon{	
	padding: 4px !important;
	min-width: 80px;
}

.btn-addon i {
    text-align: center;
    float: left;
    width: 30px;
    height: 30px;
    margin: -4px 10px -10px -5px !important;
    line-height: 30px;
    background-color: rgba(0,0,0,0.3);
}

.btn-prime{
	border-radius: 5px !important;
	border: 1px solid #00000033;
}
.btn-prime.btn-addon i {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.meta-project{
	width: 20%;
	border-right: 1px solid #29363d;
	border-left: 1px solid #29363d;
	background-color: #29363d;
	color:#f7f7f7;
	font-size:11px;
}

.project-text{
	font-size: 14px !important;
    font-family: Nunito;
    font-weight: 700;

}

.modal-title{
	font-size: 1.2em;
	font-family: 'Montserrat';
}

.select2-container{
	width: 100%;
	max-width: 100%;
}

table{
	background: #fff;
}

.page-item.active .page-link {
	background: #29363d  !important;
	border-color: #a6a6a6 !important;
}

.hidden{
	display: none;
}


.sidebar .sidebar-minimizer{
	background: #c30f0f;
	/*background-image: url(../img/diysidebar2.png);*/

}


thead{
	background: #29363d;
    color: #e4e5e6;
    font-family: Montserrat;
}

.table.dataTable thead>tr>th.sorting{
	padding: 10px 5px 10px 5px;
}

.dataTables_info{
	padding-top: 0px !important;
}

.con_issue{
	background: #ed6c6c;padding-top: 5px;padding-bottom: 5px;
	border: 1px #f42020 solid;
}

.w-80{
	width: 80% !important;
	margin: auto;
}

.w-90{
	width: 90% !important;
	margin: auto;
}

.w-95{
	width: 95% !important;
	margin: auto;
}

.circle{
	border-radius: 50% !important;
	min-width: 15px;
	min-height: 15px;
}

/*form*/
.form-control,
.select2-container .select2-selection,
.select2-container--default .select2-selection--single .select2-selection__rendered{
	background: #fafafa;
    font-weight: 700 !important;
    font-size: 0.85rem;
    color: #292929 !important;
}


@media (max-width: 991px){
	.app-header .navbar-brand{
	    left: 33% !important;
	}
}

@media (min-width: 992px){
	.sidebar-minimized .sidebar .sidebar-minimizer{
	 	background: #c30f0f00;;
	}

	.sidebar-minimized .sidebar .nav > .nav-dropdown > .nav-dropdown-items{
		background: rgb(160, 51, 51);
	}

	.sidebar-minimized .sidebar .nav-item:hover > .nav-link {
	    background: #e33737;
	}

	/*.sidebar-minimized .sidebar .nav-item:hover > .nav-link{
		background: #e53939;
	}*/

}



.awesomplete{
	width: 100%;
}

/*datepicker*/
.table-condensed thead{
	/*background: #20a8d8;*/
}

.datepicker table tr th{
	border-radius: 0px !important;
}

.table-grey{
	background: #e4e5e6;
}

.table-grey2{
	background: #9c9c9c;
}

.table.table-master td{
	padding: 0.25rem 0.75rem !important;
}

.list-group-item {
	padding: 0.5rem 1.25rem;
}

.sidebar .nav-link .nav-icon{
	color: #e3e3e3;
}

.nav-title{
	background: #90010130;
	color: #d4d4d4;
	padding: 5px 20px !important;
	font-size: 9px;
}

.mini-label{
	font-size: 12px;
	margin-bottom: 2px;
}

.card-header{
	padding-top: 6px;
	padding-bottom: 6px;
}

.Jselect2{
	width: 100% !important;
}

.select2-container--default .select2-selection--single{
	height: 35px !important;
	border-radius: 2px !important;
}

.error{
	color: red;
}

.border-right-history{
	border-right: 2px solid #a3a3a3 !important;
}


/*Scroll*/
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

body::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.86, #29363d));
}


/*Scroll*/
.card::-webkit-scrollbar-track, .card-body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.card::-webkit-scrollbar, .card-body::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.card::-webkit-scrollbar-thumb, .card-body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.86, #b3b3b3));
}

/*Scroll*/
.scroll-thin::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #a5a5a5dd;
	border-radius: 10px;
}

.scroll-thin::-webkit-scrollbar
{
	width: 5px;
	background-color: #a5a5a5dd;
}

.scroll-thin::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.86, #f5f5f5));
}


/*THEME*/
.header-division{
	color: #565656;
    font-size: 2em;
    font-weight: 900;
    font-family: Montserrat;
    letter-spacing: 0.25em;
    padding-left: 10px;
}

/*DGS*/
.app-header.DBS, .app-header.DBS{
	/*background-color: #28388a;*/
	background-color: #88878788;
    color: #fff;
}

.sidebar.DBS, .sidebar.DBS .sidebar-minimizer{
	background :#28388a;
}

.sidebar.DBS .nav-link:hover , 
.sidebar-minimized .sidebar.DBS .nav-item:hover > .nav-link,
.sidebar.DBS .nav-link.active{
	background :#3756f9 !important;
}


/*DGS*/
.app-header.DGS, .app-header.DGS{
	/*background-color:  #ff3c60d9;*/
	background-color:  #88878788;
    color: #fff;
}

.sidebar.DGS, .sidebar.DGS .sidebar-minimizer{
	background : #198000;
}

.sidebar.DGS .nav-link:hover , 
.sidebar-minimized .sidebar.DGS .nav-item:hover > .nav-link,
.sidebar.DGS .nav-link.active{
	background : #23b100 !important;
}

/*DES*/
.app-header.DES, .app-header.DES{
	/*background-color:  #ff7100;*/
	background-color:  #88878788;
    color: #fff;
}

.sidebar.DES, .sidebar.DES .sidebar-minimizer{
	background : #ff7100;
}

.sidebar.DES .nav-link:hover , 
.sidebar-minimized .sidebar.DES .nav-item:hover > .nav-link,
.sidebar.DES .nav-link.active{
	background : #ff9745 !important;
}


/*Mini Loading*/
.gooey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  filter: contrast(20);
  /*margin-top: 10%;*/
}
.gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
.gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #000;
  border-radius: 50%;
}





/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196F3;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@-moz-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-webkit-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-o-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-moz-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-webkit-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-o-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
