  .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle{
    background: #7ab800;
    color: #fff;
    }

    .callout{
      background: #595959;
      color: #fff;
    }

    .table > tbody > tr > td{
      font-size: 14px;  
    }

    .table>tbody>tr.danger>td{
      background: #fd180033 !important;
    }
    .table>tbody>tr.info>td{
      background: #dfdfdf !important;
    }

    .table>tbody>tr.warning>td{
      background: #ffcc0033 !important;
    }

    .table>tbody>tr.success>td{ 
      background: #00ff5933 !important; 
    }

    .table>tbody>tr.disabled>td{
      background: #f7f7f7 !important;
    } 

    .id_project{
      background-color: #e5e5e550 !important;
      color: #000;
      line-height: 1.5;
      padding-left: 5px !important;
      padding-top: 5px !important
    }

    .sorting_1{
      padding: 0px !important;
    }

    .breadcrumb{
      margin-bottom: 2px;
    }

    .select2-container .select2-selection{
      background-color: #fff !important;
    }

    .select2-selection__rendered{
      color: #300 !important;
    }
  .date-picker[readonly] {
      background-color: #fafafa !important;
      cursor: pointer;
      opacity: 1;
  }


  .switch-strategic{
    width: 50px;    
    float: left !important;
  }
  #slider-strategic{
    height: 20px;  
    padding-right: : 5px !important;
    margin-top: 2px !important;
  }

  #slider-strategic:before {
    height: 12px !important;
    width: 12px !important;
    left: 10px !important;
  }