  .tab-content{
    background-color: #eaeaea !important;
  }

  .tab-pane{
    max-height: 1500px;
    min-height: 500px;
    overflow-x: hidden;
  }

  .table{
    border : 1px solid #acacac;
  }
  .card .card-header { 
    cursor: pointer;
    display: flex;
    align-items: center; 
  }

  .card .card-header .fa-stack-1x {
    color: white;
  }

  .gantt_cal_template{
    height: 29px;
  }

  .gantt_cal_lsection{
    padding-bottom: 0px !important;
  }

  .gantt_cal_template #description_task{
    height: 80px !important;
  }

  .alert-success{
    width: 100%;
  }

  .bg-navy{
    background-color: #595959;
    color: #e4e5e6;
  }

  .nav-tabs .nav-link.active {
    border-color: #ffffffaa !important;
    background-color: #eaeaea !important;
  }

  .tab-content > .active{
    background-color: #eaeaea !important;
  }

  td{
    font-size: 12px;
  }

  .list-group-item, .list-group-item:hover{
    background: #a3a3a3;
    color: #fff;
  }