body{
    background: url('../../assets/img/login_background.jpeg');
    background-size : 100% 100%;
  }

.container_form_login{
  background: #575757;
}

.container_remarks{
  background: #ffffffee;
}

.label-prime{
	 font-family: 'Catamaran', sans-serif;
   color: #e41b13;
    font-size: 4.5em;
    font-weight: 900;
    letter-spacing: 0.2em;
    text-shadow: 1px 2px 2px #777;
}

.btn-primary {
    color: #fff;
    background-color: #6f6f6f;
    border-color: #575757;
}

.error{
    color: red !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #e41b13;
    border-color: #fcefee;
}

.footprint{
    color: #575757;
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-size: 0.8em;
    font-weight: 900;
}